@{
    ViewData["Title"] = "FREEDOM";
}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h3 class="title">Gerenciador de API</h3>
                    </div>
                    <div class="content">
                        <p class="category">
                            <span>
                                <img src="~/img/logo.png" align="left" style="padding-bottom:0px; padding-left:0px; padding-top:0px; padding-right:10px" />
                                Aplicação para gerenciar as APIs do AG. <br />
                                O AG-Freedom poderá passar a ser um projeto aberto, para que seu propósito maior seja atingido.<br />
                                A plataforma que permite o compartilhamento de conteúdo sem a utilização de serviços centralizadores.<br />
                                Essa plataforma de compartilhamento permite o anonimato controlado, bem como a segurança de idoneidade das fontes.<br />
                                Não precisamos saber quem é que está na outra ponta, precisamos saber apenas que a fonte é quem diz ser.<br />
                                Assim sendo, fontes passam a ter sua seriedade comprovada por outros membros da rede, mesmo sem saber sua identidade fisica.<br />
                                Desta forma a censura passa a ser inócua, ou quase.<br />
                            </span>
                        </p>
                        <br />
                        <div class="footer">
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div class="card">
                    <div class="content">
                        <div class="row">
                            <div class="col-xs-5">
                                <div class="icon-big icon-warning text-center">
                                    <i class="ti-server"></i>
                                </div>
                            </div>
                            <div class="col-xs-7">
                                <div class="numbers">
                                    <p>User</p>
                                    Value
                                </div>
                            </div>
                        </div>
                        <div class="footer">
                            <hr />
                            <div class="stats">
                                <i class="ti-reload"></i> Atualize agora
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
