<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    GERENCIAMENTO DE APIs
                </li>
                <li>
                    <a href="">
                        FREEDOM
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            <script>document.write(new Date().getFullYear())</script>, Criado <i class="fa fa-ambulance fa-ambulance"></i> por <a href="http://wagner.louzada.online">Louzada</a>
        </div>
    </div>
</footer>
