@{
    ViewData["Title"] = "Sobre";
}
<div class="col-sm-10">
    <h1>
        <img class="icon" src="~/logo.png">
    </h1>
    <h1>FREEDOM usando IdentityServer4</h1>
    <h2>O que é ?!</h2>
    <p>A plataforma que permite o compartilhamento de conteúdo sem a utilização de serviços centralizadores.</p>
    <p>Essa plataforma de compartilhamento permite o anonimato controlado, bem como a segurança de idoneidade das fontes.</p>
    <p>Não precisamos saber quem é que está na outra ponta, precisamos saber apenas que a fonte é quem diz ser.</p>
    <p>Assim sendo, fontes passam a ter sua seriedade comprovada por outros membros da rede, mesmo sem saber sua identidade fisica.</p>
    <p>Desta forma a censura passa a ser inócua, ou quase.</p>
    <h2>Por que?</h2>
    <p>No inicio a internet era limitada a poucos, depois passou a ser difundida para quem pudesse ter acesso.</p>
    <p>Se tornou febre.</p>
    <p>Grandes corporações passaram a domina-la, e assim se tornou possível identificar os usuários, bem como promover censura através da aplicação de punições aos grandes "players".</p>
    <p>Estes "players" para não serem punidos e onerados passaram a aplicar mecanismos de censura.</p>
    <p>A Internet Livre passou a ser vigiada e censurada.</p>
    <h2>Implicações</h2>
    <p>Com a liberdade vigiada e cerceada, as manifestações passam a serem punidas, e em algum momento vozes serão caladas.</p>
    <h2>Solução</h2>
    <p>Muitas possibilidades evitar essa censura podem ser desenvolvidas, nós da FREEDOM acreditamos que a eliminação de grandes "players", com seus robustos servidores é uma delas.</p>
    <p>Assim desenvolvemos uma plataforma de compartilhamento P2P, que extende as capacidades das antigas redes como EMULE, GNUTELLA, TORRENT e similares</p>
    <p>Adotamos o BLOCKCHAIN - utilizado em cryptomoedas - como forma de autenticar os usuários, porém sem identificá-los.</p>
    <p>Desta forma cada um poderá escolher suas fontes, e saber se estas são quem dizem ser. </p>
</div>
