@{
    ViewData["Title"] = "Contato";
    ViewData["Message"] = "Wagner Louzada";
}

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Rua Vergueiro<br />
    São Paulo, SP 01501-001<br />
    <abbr title="Phone">CEL:</abbr>
    +55 11 9-4846-1987
</address>

<address>
    <strong>Desenvolvimento:</strong> <a href="mailto:Support@example.com">wagner.louzada@gmail.com</a><br />
</address>
