<div class="welcome-page">
    <div class="row page-header">
        <div class="col-sm-10">
            <h1>
                <img class="icon" src="~/logo.png" width="60">
            </h1>
            <h1>FREEDOM</h1>
            <p>A plataforma que permite o compartilhamento de conteúdo sem a utilização de serviços centralizadores.</p>
            <p>Essa plataforma de compartilhamento permite o anonimato controlado, bem como a segurança de idoneidade das fontes.</p>
            <p>Não precisamos saber quem é que está na outra ponta, precisamos saber apenas que a fonte é quem diz ser.</p>
            <p>Assim sendo, fontes passam a ter sua seriedade comprovada por outros membros da rede, mesmo sem saber sua identidade fisica.</p>
            <p>Desta forma a censura passa a ser inócua, ou quase.</p>
          
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <p>
                IdentityServer publicou um documento
                <a href="~/.well-known/openid-configuration">discovery document</a>
                onde voce encontrará metadata e links para todos os endpoints, material chave, etc.
            </p>
        </div>
        <div class="col-sm-8">
            <p>
                Clique <a href="~/grants">aqui</a> para administrar os direitos.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <p>
                Aqui está o link para o projeto inicial
                <a href="https://github.com/identityserver/IdentityServer4">do IdentitiServer4</a>,
                e <a href="https://github.com/identityserver/IdentityServer4.Samples">exemplos prontos.</a>.
            </p>
        </div>
    </div>
</div>
